@model IEnumerable<MaisAbrigo.Model.Abrigo>

@{
    ViewData["Title"] = "Lista de Abrigos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var abrigo in Model)
        {
            <tr>
                <td>@abrigo.Nome</td>
                <td>@abrigo.Endereco</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@abrigo.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@abrigo.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@abrigo.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>