@model IEnumerable<MaisAbrigo.Model.Abrigo>

@{
    ViewData["Title"] = "Lista de Abrigos";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var abrigo in Model)
        {
            <tr>
                <td>@abrigo.Nome</td>
                <td>@abrigo.Endereco</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@abrigo.Id">Detalhes</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@abrigo.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@abrigo.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a class="btn btn-primary btn-sm py-2 px-3 mt-4" asp-action="Create">Criar</a>